//{
//  "presets": [
//    "env",
//    "react",
//    [
//      "env",
//      {
//        "targets": {
//          "node": "current"
//        }
//      }
//    ]
//  ]
//}

{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
